# Simple Rating Based Recommender System

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# Read the data

In [2]:
anime = pd.read_csv("anime.csv")
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

# Peeking into the data

In [3]:
anime.shape

(12294, 7)

In [4]:
anime.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [5]:
anime.describe(include=['O'])

                    name   genre   type episodes
count              12294   12232  12269    12294
unique             12292    3264      6      187
top     Saru Kani Gassen  Hentai     TV        1
freq                   2     823   3787     5677

In [6]:
anime.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

# Check for Duplicate

In [7]:
anime[anime['name'] == "Saru Kani Gassen"]

       anime_id              name  genre   type episodes  rating  members
10140     22399  Saru Kani Gassen   Kids    OVA        1    5.23       62
10141     30059  Saru Kani Gassen  Drama  Movie        1    4.75       76

# Dropping the Anime that have missing rating

In [8]:
anime_with_rating = anime.copy().dropna(subset=['rating'])

In [9]:
anime_with_rating.isnull().sum()

anime_id     0
name         0
genre       47
type         0
episodes     0
rating       0
members      0
dtype: int64

In [10]:
anime_with_rating.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

# Build the Recommender System

In [11]:
m = anime_with_rating['members'].quantile(0.75)
m

9485.5

In [12]:
C = anime_with_rating['rating'].mean()
C

6.473901690981445

In [13]:
def weighted_rating(df, m, C):
    term = df['members'] / (m + df['members'])
    return df['rating'] * term + (1-term) * C

In [14]:
anime_with_rating["weighted_rating"] = anime_with_rating.apply(weighted_rating, axis=1, args=(m, C))
anime_with_rating.head()

,anime_id,name,genre,type,episodes,rating,members,weighted_rating
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,9.239258
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,9.227095
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,9.037206
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,9.132560
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,9.001501

# Top 10 Romance Comedy Anime

In [15]:
filter_genre = (anime_with_rating['genre'].str.contains("romance", case=False) & 
                anime_with_rating['genre'].str.contains("comedy", case=False))
filtered = anime_with_rating[filter_genre].sort_values(by=['weighted_rating'], ascending=False)
filtered.head(10)

,anime_id,name,genre,type,episodes,rating,members,weighted_rating
25,7311,Suzumiya Haruhi no Shoushitsu,"Comedy, Mystery, Romance, School, Sci-Fi, Supe...",Movie,1,8.81,240297,8.721287
26,17074,Monogatari Series: Second Season,"Comedy, Mystery, Romance, Supernatural, Vampire",TV,26,8.80,205959,8.697588
39,12365,Bakuman. 3rd Season,"Comedy, Drama, Romance, Shounen",TV,25,8.71,133620,8.561784
83,877,Nana,"Comedy, Drama, Music, Romance, Shoujo, Slice o...",TV,47,8.55,197256,8.454747
131,4224,Toradora!,"Comedy, Romance, School, Slice of Life",TV,25,8.45,633817,8.420862
87,10030,Bakuman. 2nd Season,"Comedy, Drama, Romance, Shounen",TV,25,8.53,151561,8.408898
158,13759,Sakurasou no Pet na Kanojo,"Comedy, Drama, Romance, School, Slice of Life",TV,24,8.40,380375,8.353137
135,45,Rurouni Kenshin: Meiji Kenkaku Romantan,"Action, Adventure, Comedy, Historical, Romance...",TV,94,8.43,218928,8.348768
164,853,Ouran Koukou Host Club,"Comedy, Harem, Romance, School, Shoujo",TV,26,8.39,422271,8.347904
123,1698,Nodame Cantabile,"Comedy, Drama, Josei, Music, Romance, Slice of...",TV,23,8.46,157025,8.346859

# Top 10 Anime Movies

In [16]:
filtered_movie = anime_with_rating[anime_with_rating['type'] == "Movie"].sort_values(by=['weighted_rating'], ascending=False)
filtered_movie.head(10)

,anime_id,name,genre,type,episodes,rating,members,weighted_rating
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,9.239258
15,199,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1,8.93,466254,8.881029
11,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.05,102733,8.832250
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534,8.796293
24,164,Mononoke Hime,"Action, Adventure, Fantasy",Movie,1,8.81,339556,8.746515
18,12355,Ookami Kodomo no Ame to Yuki,"Fantasy, Slice of Life",Movie,1,8.84,226193,8.744770
25,7311,Suzumiya Haruhi no Shoushitsu,"Comedy, Mystery, Romance, School, Sci-Fi, Supe...",Movie,1,8.81,240297,8.721287
35,431,Howl no Ugoku Shiro,"Adventure, Drama, Fantasy, Romance",Movie,1,8.74,333186,8.677272
60,10408,Hotarubi no Mori e,"Drama, Romance, Shoujo, Supernatural",Movie,1,8.61,197439,8.512080
59,11577,Steins;Gate Movie: Fuka Ryouiki no Déjà vu,"Sci-Fi, Thriller",Movie,1,8.61,192424,8.509648